.ml-list {
    width: 200px;
    list-style-type: none;
    border: 1px black solid;
    border-bottom: none;
    padding: 0px;
}

.ml-list-item {
    padding: 1px 5px;
    border-bottom: 1px black solid;
}

.ml-list-item {
    border-bottom: 1px black solid;
}

.ml-expander {
    background-color: #DDD;
    font-style: italic;
    cursor: pointer;
}

.ml-count {
    background-color: #BBB;
    padding: 0px 5px;
    border-radius: 1em;
    font-style: normal;
    font-size: 14px;
    
}